.loggedIn {
  visibility: hidden;
}
.author {
  font-weight: bold;
}

.message {
  display: flex; /* or inline-flex */
  margin-top: 10px;
  margin-bottom: 10px;
}

.pfp {
  margin-right: 10px;
}

#loginBox, #chatBox, #submitBox{
  width: 300px;
}

.message {
  vertical-align: text-top;
  inline-size: 240px;
  overflow-wrap: break-word;
  word-break: break-all;
}

#greeting {
  text-align: center;
}

.loggedOut {
  float: right; 
}

#entireThing {
  height: auto;
}

#chatBox{
  height: 500px;
  overflow: auto;
}

#submitBox{
   position: fixed;
   top: 620px;
   height: 60px;
}
