body {
  background: #23272A;
}

p, span, h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.loggedIn {
  visibility: hidden;
}
.author {
  font-weight: bold;
}

.message {
  display: flex; /* or inline-flex */
  margin-top: 10px;
  margin-bottom: 10px;
}

.pfp {
  margin-right: 10px;
}

#loginBox, #chatBox, #submitBox{
  width: 320px;
}

#chatBox {
  background: #2C2F33;
}

.pfp {
  position: relative;
  top: 15px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.message {
  vertical-align: text-top;
  inline-size: 250px;
  overflow-wrap: break-word;
  word-break: break-all;
}

#greeting {
  text-align: center;
}

.loggedOut {
  float: right; 
}

#entireThing {
  width: 80%;
}

#chatBox{
  height: 430px;
  overflow: auto;
}

#submitBox{
   margin-top: 10px;
   height: 60px;
   text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #2C2F33; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

input {
  font: inherit;
  padding: 0.2em 0.5em;
}

#chatInput {
  width: 65%;
}

#chatSubmit {
  width: 25%;
}
